/* Reset CSS */
*,
::after,
::before {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ol[role=list],
ul[role=list] {
    list-style: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

button,
h1,
h2,
h3,
h4,
input,
label {
    line-height: 1.1;
    font-weight: 600;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
    text-align: center;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

button,
input,
select,
textarea {
    font: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

/* Variables */
:root {
    /* Colors */
    --primary-color: rgb(5, 45, 55);
    --secondary-color: rgb(166, 166, 166);
    --accent-color: orange;
    --primary-gradient: linear-gradient(45deg, #DC2424 0%, #4A569D 100%);

    /* Sizes */
    --big-gap: 48px;
    --mid-gap: 24px;
    --lit-gap: 12px;

    /* Fonts */
    --main-font: 'Manrope', sans-serif;
    --title-size: calc(40px + 80 * (100vw - 320px) / 2240);
    --subtitle-size: calc(20px + 40 * (100vw - 320px) / 2240);
    --paragraph-size: calc(12px + 14 * (100vw - 320px) / 2240);
}

section {
    margin-left: var(--big-gap);
    margin-right: var(--big-gap);

    @media (max-width: 768px) and (min-width: 320px) {
        margin-left: var(--mid-gap);
        margin-right: var(--mid-gap);
    }

    @media (max-width: 320px) {
        margin-left: var(--lit-gap);
        margin-right: var(--lit-gap);
    }
}

h1 {
    font-size: var(--title-size);
    font-family: var(--main-font);

    /* линейный градиент, слева на право, 3 цвета */
    /* background-image: var(--primary-gradient) */
    /* обрезаем фон по тексту */
    /* -webkit-background-clip: text */
    /* меняет цвет текста заголовка на прозрачный что бы можно было увидеть градиент */
    /* -webkit-text-fill-color: transparent */
    color: #713232;
}

h1 {
    font-size: var(--title-size);
    font-family: var(--main-font);
    font-weight: 600;

    &.hero-title {
        max-width: 800px;
        margin-bottom: var(--big-gap);
        color: #ffffff;

        @media (max-width: 768px) and (min-width: 320px) {
            max-width: 400px;
            margin-bottom: var(--mid-gap);
        }

        @media (max-width: 320px) {
            max-width: 280px;
            margin-bottom: var(--lit-gap);
        }
    }
}

p {
    font-family: var(--main-font);
    font-size: var(--paragraph-size);
    font-weight: 600;

    &.hero-text {
        max-width: 900px;
        margin-bottom: var(--big-gap);
        color: #ffffff;

        @media (max-width: 768px) and (min-width: 320px) {
            max-width: 400px;
            margin-bottom: var(--mid-gap);
        }

        @media (max-width: 320px) {
            max-width: 280px;
            margin-bottom: var(--lit-gap);
        }
    }
}

.hero-block {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: var(--primary-gradient);
}

button {
    font-family: var(--main-font);
    font-size: var(--paragraph-size);
    padding: var(--mid-gap) var(--big-gap);
    color: #ffffff;
    border-radius: 20px;
    border-width: 0;
    background-image: var(--primary-gradient);
    box-shadow: 0 40px 50px -13px #01010d;

    &:hover {
        background-image: linear-gradient(210deg, #DC2424 0%, #4A569D 100%);
        transition: 3s;
    }
}

.hero-section {
    margin-right: 0;
    margin-left: 0;
}


