/* Reset CSS */
*,
::after,
::before {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ol[role=list],
ul[role=list] {
    list-style: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

button,
h1,
h2,
h3,
h4,
input,
label {
    line-height: 1;
    font-weight: 600;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

button,
input,
select,
textarea {
    font: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

/* Variables */
:root {
    /* Colors */
    --primary-color: rgb(5, 45, 55);
    --secondary-color: rgb(166, 166, 166);
    --accent-color: orange;

    /* Sizes */
    --big-gap: 48px;
    --mid-gap: 24px;
    --lit-gap: 12px;

    /* Fonts */
    --title-size: calc(58px + 174 * (100vw - 320px) / 2240);
    --subtitle-size: calc(22px + 66 * (100vw - 320px) / 2240);
    --paragraph-size: calc(12px + 36 * (100vw - 320px) / 2240);
}

.section {
    margin-left: var(--mid-gap);
    margin-right: var(--mid-gap);
}

h1 {
    font-size: var(--title-size);
    font-family: 'Manrope', sans-serif;

    /* линейный градиент, слева на право, 3 цвета */
    background-image: linear-gradient(45deg, #DC2424 0%, #4A569D 100%);

    /* обрезаем фон по тексту */
    -webkit-background-clip: text;

    /* меняет цвет текста заголовка на прозрачный что бы можно было увидеть градиент */
    -webkit-text-fill-color: transparent;
}

p {
    font-family: 'Manrope', sans-serif;
    font-size: var(--paragraph-size);
    font-weight: 600;
}

.flex-item {
    flex-basis: auto;
}

